<!-- From Uiverse.io by Amine-maker --> 
<div id="app">
    <div class="reference relative">
      <p class="main-title">
        Location
        <span style="font-style: italic; color: #226630" class="hover-card"
          >Paris</span
        >, France
      </p>
      <div class="card absolute hidden">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="relative inner-card">
          <div class="bg-map"></div>
          <div class="location absolute"></div>
          <div class="elements">
            <div class="description relative">
              <div class="blur-item absolute"></div>
              <span class="main-title">Paris</span>
              <p class="second-title">France</p>
            </div>
            <div class="details">
              <div class="peoples">
                <div class="people"></div>
                <div class="people"></div>
                <div class="people"></div>
              </div>
              <div class="action"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  